{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('nav')}}
    {{ encore_entry_link_tags('footer')}}
    {{ encore_entry_link_tags('detail')}}
{% endblock %}

{% block title %}Détail de l'offre{% endblock %}

{% block body %}
    {{ include('home/nav.html.twig') }}

    <main>
        <!-- CODE -->
        <img src="{{ asset('build/bandeau_detail.jpg') }}" alt="">
        <section id="layout">
            <h2>{{ offer.title }}</h2>
            <section id="corpus">
                <h3>Description de l'offre</h3>
                <p>{{ offer.description }}</p>
                <h3>Profil recherché</h3>
                <p>{{ offer.requiredProfil }}</p>
            </section>
            <ul>
                <li>Durée : {{ offer.duration }}</li>
                <li>Temps de travail : {{ offer.hourPerWeek }}</li>
                <li>Disponibilité : {{ offer.availability }}</li>
                <li>Expérience demandée : {{ offer.requiredExperience }}</li>
                <li>Rémunération : {{ offer.salary }}</li>
                <li>Statut : </li>
                <li>Avantages : {{ offer.benefits }}</li>
            </ul>
        </section>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=4.8035842180252075%2C45.77175881817582%2C4.807124733924867%2C45.7733696312889&amp;layer=mapnik" style="border: 1px solid black"></iframe>
        <a href=""><button type="button" name="postuler">Postuler</button></a>
    </main>

    {{ include('includes/footer.html.twig') }}
{% endblock %}
