{% extends 'admin/base_admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard')}}
{% endblock %}

{% block title %}Edit Offer{% endblock %}

{% block body %}
    <main>
        <div class="card">
            <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Detail de l'offre</h3>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <button class="btn">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}<a href="{{ path('admin_offer_index') }}">back to list</a>
            </div>
        </div>
    </main>
{% endblock %}
