{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_detail')}}
{% endblock %}

{% block title %}Edit Offer{% endblock %}

{% block body %}
    <header>
        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3 >Logisticc</h3>
                </div>
                <ul class="list-unstyled components">
                    <a id="dashboard" href="dashboard.html">Dashboard</a>
                    <li>
                        <a href="liste.html">Offres</a>
                    </li>
                    <li>
                        <p>Candidatures</p>
                    </li>
                    <li>
                        <a href="#">Types</a>
                    </li>
                    <li>
                        <a href="#">Status</a>
                    </li>
                    <li>
                        <a href="#">Paramètres</a>
                    </li>
                </ul>
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a href="{{ path('home') }}" class="nav-link">Deconnexion</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="card">
            <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Detail de l'offre</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}


        <a href="{{ path('admin_offer_index') }}">back to list</a>
        </div>
    </main>
{% endblock %}
