{% extends 'admin/base_admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard')}}
{% endblock %}
{% block body %}
            <main>
              <div class="card">
                    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Liste des offres</h3>
                <span class="table-add float-right "><a href="{{ path('admin_offer_new') }}" class="text-success"><i class="fas fa-plus fa-2x" 
                aria-hidden="true" style="display: flex;align-items: flex-end;justify-content: flex-end;margin-right: 20px;margin-top: 10px;"></i></a></span>
                <div class="card-body">
                    <table class="table table-bordered table-responsive-md table-striped text-center">
                        <thead>
                            <tr>
                                <th>
                                    Intitulé
                                </th>
                                <th>
                                    Référence
                                </th>
                                <th style="width: 50%">
                                    Description
                                </th>
                                <th>
                                    date de creation
                                </th>
                                <th>
                                    Active
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for offer in offers %}
                            <tr>
                                <td>{{ offer.title }}</td>
                                <td>{{ offer.reference }}</td>
                                <td>{{ offer.description }}</td>
                                <td>{{ offer.createdAt ? offer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ offer.isActive ? 'Yes' : 'No' }}</td>
                                <td>
                                    <a href="{{ path('admin_offer_edit', {'id':offer.id} ) }}"><button type="text" name="edit" class="btn btn-warning"><i class="fas fa-edit"></i></button></a>
                                    <button type="text" name="delete" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            {% if offer == null %}
                             <tr>
                                <td colspan="17">no records found</td>
                            </tr>
                            {% endif %}
        
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination" >
                        {{ knp_pagination_render(offers) }}
                    </div>
                </div>
            </div>
            </main>
     
{% endblock %}