{% extends 'admin/base_admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard')}}
{% endblock %}

{%  block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_offer') }}
{% endblock %}

{% block title %}Créer un type de contrat{% endblock %}

{% block body %}
    <main>
        <div class="card">
            <h3 class="card-header text-center font-weight-bold text-uppercase py-4" >Créer un type de contrat</h3>
            <div class="card-body">
                <div class="container mt-4">

                    <div class="raw">
                        {{ include('admin/contract_type/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin_offer') }}
{% endblock %}