{% extends 'admin/base_admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard')}}
{% endblock %}
{% block title %}Les statuts{% endblock %}

{% block body %}
    <main>
        <div class="card">
            <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Les statuts</h3>
            <div class="card-body">
                <table class="tableau table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 80%;">Nom</th>
                        <th>Is_active</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for status in statuses %}
                        <tr>
                            <td>{{ status.name }}</td>
                            <td>{{ status.isActive ? 'Actif' : 'Inactif' }}</td>
                            <td>
                                <a href="{{ path('status_edit', {'id': status.id}) }}" class="btn btn-warning" style="margin-right: 5px;"><i style="color: white;" class="fas fa-edit"></i></a>
                                <a href="{{ path('status_delete', {'id': status.id}) }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="text-right mt-4">
                    <a href="{{ path('status_new') }}" class="btn btn-primary">Créer</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
