{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard')}}
{% endblock %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<header>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Logisticc</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('admin_offer_index' )}}">Offres</a>
                </li>
                <li>
                    <a href="#">Candidatures</a>
                </li>
                <li>
                    <a href="#">Types</a>
                </li>
                <li>
                    <a href="#">Status</a>
                </li>
                <li>
                    <a href="#">Paramètres</a>
                </li>
            </ul>
            <ul class="navbar-nav ">
                  <li class="nav-item">
                      <a href=" {{ path('home')}}" class="nav-link">Deconnexion</a>
                  </li>
              </ul>
        </nav>
        {# <p><a href="{{ path('home') }}">home</a></p> #}
    </div>
</header>
<main>
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome">
                        <h2>Welcome to Dashboard</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>

                </div>

            </div>  
        </div>
    <section class= "card">
        <h2 class="card-title">Dernières offres</h2>
        <ul  class="list-group list-group-flush"> 
            {% for offer in offers %}
                <li class="list-group-item">{{ offer.title }} {{ offer.id }}</li>
            {% endfor %}
        </ul>
    </section>
    <section class= "card">
        <h2 class="card-title">Dernières candidatures</h2>    
        <ul class="list-group list-group-flush"> 
            {% for candidature in candidatures %}
                <li class="list-group-item">{{ candidature.id }}</li>
            {% endfor %}
        </ul>
    </section> 

</main>
    {% include 'home/scripts.html.twig' %}
{% endblock %}
