{% extends 'admin/base_admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard')}}
{% endblock %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<main>
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome">
                        <h2 class="white">Welcome to Dashboard</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>

                </div>

            </div>  
        </div>
    </div>
    <section class= "card">
        <h2 class="card-title">Dernières offres</h2>
        <ul  class="list-group list-group-flush"> 
            {% for offer in offers %}
                <li class="list-group-item">{{ offer.title }} {{ offer.id }}
                    <a href="{{ path('admin_offer_edit',{'id':offer.id})}}" style="float: right"><button>En savoir +</button></a>
                </li>

            {% endfor %}
        </ul>

    </section>
    <section class= "card">
        <h2 class="card-title">Dernières candidatures</h2>    
        <ul class="list-group list-group-flush"> 
            {% for candidature in candidatures %}
                <li class="list-group-item">{{ candidature.id }}</li>
            {% endfor %}
        </ul>
    </section>
</main>
    {% include 'home/scripts.html.twig' %}
{% endblock %}
