{% extends 'admin/base_admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard')}}
{% endblock %}
{% block title %}Candidature{% endblock %}

{% block body %}
    <main>
        <div class="card">
            <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Candidature</h3>
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Created_at</th>
                        <td>{{ candidature.createdAt ? candidature.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Modified_at</th>
                        <td>{{ candidature.modifiedAt ? candidature.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <td>{{ candidature.id }}</td>
                    </tr>
                    <tr>
                        <th>Submit_date</th>
                        <td>{{ candidature.submitDate ? candidature.submitDate|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Message</th>
                        <td>{{ candidature.message }}</td>
                    </tr>
                    <tr>
                        <th>Cover_letter</th>
                        <td>{{ candidature.coverLetter }}</td>
                    </tr>
                    <tr>
                        <th>Resume</th>
                        <td>{{ candidature.resume }}</td>
                    </tr>
                    <tr>
                        <th>Is_active</th>
                        <td>{{ candidature.isActive ? 'Yes' : 'No' }}</td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('candidature_index') }}">back to list</a>

                <a href="{{ path('candidature_edit', {'id': candidature.id}) }}">edit</a>

                {{ include('candidature/_delete_form.html.twig') }}
            </div>
        </div>
    </main>
{% endblock %}
