{% extends 'base.html.twig' %}

{% block title %}Candidature Spontanee{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('nav')}}
    {{ encore_entry_link_tags('footer')}}
    {{ encore_entry_link_tags('candidature')}}
{% endblock %}

{% block body %}

    {{ include('home/nav.html.twig') }}

    <main>
        <section>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Titre de l'offre</label>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Type de contrat</label>
                </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Ville / Code Postal</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Pays</label>
                    </div>
                </div>
        </section>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Objet</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Objet">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Email</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Nom</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Nom">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Prénom</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Prénom">
                </div>
            </div>    
            <div class="form-row">    
                <div class="form-group col-md-12">
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Curriculum Vitae</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Lettre de motivation</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <textarea></textarea>
            </div>

            <button type="submit">Postuler</button>
        </form>
    </main>

    {{ include('includes/footer.html.twig') }}

{% endblock %}
