{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('template')}}
{% endblock %}

{% block title %}OfferType index{% endblock %}

{% block body %}
    <div class="container mt-4">
    <h1>Types d'offres</h1>

    <table class="tableau table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col" style="width: 80%;">Nom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer_type in offer_types %}
            <tr>
                <td>{{ offer_type.name }}</td>
                <td style="display: flex;justify-content: center;">
                    <a href="{{ path('offer_type_edit', {'id': offer_type.id}) }}" class="btn btn-warning" style="margin-right: 5px;"><i style="color: white;" class="fas fa-edit"></i></a>
                    <a href="{{ path('offer_type_delete', {'id': offer_type.id}) }}"class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right mt-4">
        <a href="{{ path('offer_type_new') }}" class="btn btn-primary">Créer</a>
    </div>
    </div>
{% endblock %}
